  <!-- Section : Contact -->
  <table class="wrapper" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tr>
      <td align="center" bgcolor="#F5F5F5">
        <!-- 500px Box -->
        <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="500">
          <tr>
            <td  class="col px-sm-30 py-sm-20" align="left" bgcolor="#FFFFFF" style="padding:30px 50px;border-top: 1px solid #F1F1F1;border-bottom-right-radius: 6px; border-bottom-left-radius: 6px;">
              <!-- Content -->
              <table cellpadding="0" cellspacing="0" role="presentation" width="100%" >
                <tr>
                  <td class="col col-sm-4" width="80"" align="left">
                    <img src="{{ htmlView ? asset(imagesPath ~ '/robot.png') : email.image('@images/robot.png') }}" alt="Robot" style="width: 80px; max-width: 100%;">
                  </td>
                  <td class="col col-sm-8" width="300"" align="left" style="padding-left: 20px; vertical-align: middle;">
                    <h3 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 18px;line-height: 18px;font-weight: 400; color:#292929;margin: 0; margin-bottom: 10px;">
                        {{ language.haveAQuestion }}
                    </h3>
                    <p style="font-family: 'Karla', Arial, sans-serif;font-size: 13px;line-height: 100%;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ;">
                        {{ language.anyQuestionsContactMe }} <a href="mailto:{{ mailer_email }}" style="font-family: 'Karla', Arial, sans-serif;font-size: 13px;line-height: 14px;font-weight: 400; color:#292929; margin: 0; margin-bottom: 0px ;text-decoration: none;">
                        {{ mailer_email }}
                      </a>
                    </p>
                  </td>
                </tr>
              </table>
              <!-- end Content -->
            </td>
          </tr>
        </table>
        <!-- end 500px Container -->      
      </td>
    </tr>
  </table>
  <!-- end Section : Contact -->