<!-- Section : Header -->
<table class="wrapper" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tr>
      <td align="center" bgcolor="#F5F5F5">
        <!-- 500px Box -->
        <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="500">
          <tr>
            <td class="col px-sm-30 py-sm-30" align="left" bgcolor="#FFFFFF" style="padding:50px 50px 30px 50px;">
              <!-- Header -->
              <table cellpadding="0" cellspacing="0" role="presentation" width="100%" >
                <tr>
                  <td class="col" width="400"" align="left">
                    {% if content.title %}
                    <h1 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 28px;line-height: 28px;font-weight: 400; color:#292929;margin: 0; margin-bottom: 10px;">
                      {{ content.title }}
                    </h1>
                    {% endif %}
                    {% if content.titleBold %}
                    <h1 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 44px;line-height: 44px;font-weight: 500; color:#{{ content.color }};margin: 0; margin-bottom: 15px;">
                      {{ content.titleBold }}
                    </h1>
                    {% endif %}
                    <div class="spacer py-sm-10" style="line-height: 20px;">‌</div>
                    {% for text in content.texts %}
                    {% if text.title %}
                    <h3 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 18px;line-height: 18px;font-weight: 400; color:#292929;margin: 0; margin-bottom: 10px;">
                        {{ text.title }}
                    </h3>
                    {% endif %}
                    {% if text.paragraph %}
                    <p style="font-family: 'Karla', Arial, sans-serif;font-size: 16px;line-height: 22px;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ;">
                      {{ text.paragraph }}
                    </p>
                    {% endif %}
                    {% if not loop.last %}
                    <div class="spacer py-sm-10" style="line-height: 20px;">‌</div>
                    {% endif %}
                    {% endfor %}
                  </td>
                </tr>
              </table>
              <!-- end Header -->
            </td>
          </tr>
        </table>
        <!-- end 500px box -->       
      </td>
    </tr>
  </table>
  <!-- end Section : Header -->