{% extends "emails/base.html.twig" %}
{% block content %}
<!-- Section : Event -->
{% for event in content.events %}
{% set color = event.color ? event.color : random(constant('App\\Entity\\MailContent\\EventSuggestion\\Color::COLORS')) %}
<table class="wrapper" cellpadding="0" cellspacing="0" role="presentation" width="100%">
  <tr>
    <td align="center" bgcolor="#F5F5F5">
      <!-- 500px Box -->
      <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="500">
        <tr>
          <td class="col px-sm-30 py-sm-20" width="400" align="left"Book Now bgcolor="#FFFFFF" style="padding:15px 50px ;">
            <!-- Content -->
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%" >

              <!-- Event 1 -->
              <tr>
                <td colspan="2" class="col " width="100%" style="padding: 20px 30px; border-radius: 6px;" bgcolor="#FAFAFA">
                  <table cellpadding="0" cellspacing="0" role="presentation" width="100%" >
                    {% if event.title or event.category %}
                    <tr>
                      <td colspan="2" class="col" style="padding-bottom: 10px; border-bottom: 1px solid #EBEBEB;">
                        {% if event.category %}
                        <p style="font-family: 'Karla', Arial, sans-serif;font-size: 14px;line-height: 21px;font-weight: 400; color:{{ color }}; margin: 0; margin-bottom: 5px ;">
                          {{ event.category }}
                        </p>
                        {% endif %}
                        {% if event.title %}
                        <a href="{{ event.button ? (event.button.link ? event.button.link : '#') : '#' }}" style="text-decoration: none;">
                          <h3 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 18px;line-height: 24px;font-weight: 500; color:#292929;margin: 0; margin-bottom: 5px;">
                            {{ event.title }}
                          </h3>
                        </a>
                        {% endif %}
                      </td>
                    </tr>
                    {% endif %}
                    {% if event.place or event.image or event.button or event.paragraph or event.paragraphBold %}
                    <tr>
                      {% if event.place or event.image %}
                      <td class="col" width="170" style="padding-top:10px ;">
                        {% if event.image %}
                        {% include 'emails/content/shared/image.html.twig' with {'image': event.image, 'style': 'width:8px;max-width:100% ;'} %}
                        {% endif %}
                        {% if event.place %}
                        <p style="font-family: 'Karla', Arial, sans-serif;font-size: 12px;line-height: 18px;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ;">
                          {{ event.place }}
                        </p>
                        {% endif %}
                      </td>
                      {% endif %}
                      {% if event.button or event.paragraph or event.paragraphBold %}
                      <td class="col" width="170" style="padding-top:10px ;vertical-align: bottom;" align="right">
                        {% if event.paragraph or event.paragraphBold %}
                        <p class="text-sm-left" style="font-family: 'Karla', Arial, sans-serif;font-size: 12px;line-height: 18px;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 5px ;">
                          {% if event.paragraphBold %}<span style="color: #292929;">{{ event.paragraphBold }}</span>{% endif %} {{ event.paragraph ? event.paragraph : '' }}
                        </p>
                        {% endif %}
                        {% include 'emails/content/shared/button.html.twig' with {'button': event.button, 'color': color, 'size': 'xs', 'spacer': false} %}
                      </td>
                      {% endif %}
                    </tr>
                    {% endif %}
                  </table>
                </td>
              </tr>
             
            </table>
            <!-- end Content -->
          </td>
        </tr>
      </table>
      <!-- end 500px box -->       
    </td>
  </tr>
</table>
{% endfor %}
<!-- end Section : Event-->
{% endblock %}