{% extends "emails/base.html.twig" %}
{% block content %}
<!-- Section : 2 columns -->
{% if content.twoColGoods|length > 0 %}
<table class="wrapper" cellpadding="0" cellspacing="0" role="presentation" width="100%">
  <tr>
    <td align="center" bgcolor="#F5F5F5">
      <!-- 500px Box -->
      <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="500">
        <tr>
          <td class="col px-sm-30 pb-sm-30" width="400" align="left" bgcolor="#FFFFFF" style="padding:0px 50px 30px 50px;border-bottom-right-radius: 6px; border-bottom-left-radius: 6px;">
            <!-- Content -->
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%" >
              {% set goodsGroupedBy2 = mailContentService.getGroupedBy(content.twoColGoods, 2) %}
              {% for goodsGrouped in goodsGroupedBy2 %}
              <tr>
                <!-- Good 1 -->
                {% for good in goodsGrouped %}
                <td class="col pr-sm-0 py-sm-20" width="188" style="padding-{% if loop.first %}right{% else %}left{% endif %}: 12px;" >
                  {% if good.image and good.image.image %}
                  <a href="{{ good.link ? good.link : '#' }}" style="text-decoration: none;">
                    {% include 'emails/content/shared/image.html.twig' with {'image': good.image, 'style': 'width: 188px; max-width: 100%;'} %}
                  </a>
                  {% endif %}
                  {% if good.title %}
                  <div class="spacer py-sm-10" style="line-height: 20px;">‌</div>
                  <h3 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 16px;line-height: 20px;font-weight: 500; color:#292929;margin: 0; margin-bottom: 5px;">
                    {{ good.title }}
                  </h3>
                  {% endif %}
                  {% if good.author %}
                  <p style="font-family: 'Karla', Arial, sans-serif;font-size: 14px;line-height: 21px;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ;">
                    {{ language.by }} <span style="color: #{{ good.color ? good.color : content.color }};">{{ good.author }}</span> 
                  </p>
                  {% endif %}
                  <div class="spacer py-sm-10" style="line-height: 20px;">‌</div>
                </td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
            <!-- end Content -->
          </td>
        </tr>
      </table>
      <!-- end 500px box -->       
    </td>
  </tr>
</table>
{% endif %}
<!-- end Section : 2 columns-->


<!-- Section : 3 columns -->
{% if content.threeColGoods|length > 0 %}
<table class="wrapper" cellpadding="0" cellspacing="0" role="presentation" width="100%">
  <tr>
    <td align="center" bgcolor="#F5F5F5">
      <!-- 500px Box -->
      <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="500">
        <tr>
          <td class="col px-sm-30 pb-sm-30" width="400" align="left" bgcolor="#FFFFFF" style="padding:0px 50px 30px 50px;border-bottom-right-radius: 6px; border-bottom-left-radius: 6px;">
            <!-- Content -->
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%" >
              {% set goodsGroupedBy3 = mailContentService.getGroupedBy(content.threeColGoods, 3) %}
              {% for goodsGrouped in goodsGroupedBy3 %}
              <tr>
                <!-- Good 1 -->
                {% for good in goodsGrouped %}
                <td class="col col-sm-6  pr-sm-10 pb-sm-20" width="117" style="{% if loop.first %}padding-right: 12px;{% elseif loop.last %}padding-left: 12px;{% else %}padding:0 12px;{% endif %}" align="left">
                  {% if good.image and good.image.image %}
                  <a href="{{ good.link ? good.link : '#' }}" style="text-decoration: none;">
                    {% include 'emails/content/shared/image.html.twig' with {'image': good.image, 'style': 'width: 118px; max-width: 100%;'} %}
                  </a>
                  {% endif %}
                  {% if good.title %}
                  <div class="spacer py-sm-10" style="line-height: 20px;">‌</div>
                  <h3 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 14px;line-height: 18px;font-weight: 500; color:#292929;margin: 0; margin-bottom: 5px;">
                    {{ good.title }}
                  </h3>
                  {% endif %}
                  {% if good.author %}
                  <p style="font-family: 'Karla', Arial, sans-serif;font-size: 12px;line-height: 14px;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ;">
                    {{ language.by }} <span style="color: #{{ good.color ? good.color : content.color }};">{{ good.author }}</span> 
                  </p>
                  {% endif %}
                  <div class="spacer py-sm-10" style="line-height: 20px;">‌</div>
                </td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
            <!-- end Content -->
          </td>
        </tr>
      </table>
      <!-- end 500px box -->       
    </td>
  </tr>
</table>
{% endif %}
<!-- end Section : 3 columns-->
{% endblock %}